# a comment - this is ignored
# Examples:
# no .a files
#*.a
# but do track lib.a, even though you're ignoring .a files above
#!lib.a
# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt
# ignore all .txt files in the doc/ directory
#doc/**/*.txt
# only ignore the root TODO file, not subdir/TODO
#/TODO

# Eclipse files
.project
.cproject
.settings/

# ignore build directories
/cmake-build*/
/build*/

# ignore all built files in case of in-source build
generated/
bin/
lib/

# ignore all CMake files in case of in-source build
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.cbp

# emacs backup files
*~

# Tuplex compiler output files in this directory
/*.bc
/*.o
/*.out

# ignore a tmp directory in this directory
/tmp/
